<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <!-- Bootstrap5 & Vue & Axios CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <!-- 新增user表單 引用createForm.js -->
    <div id="Form">            
        <form>
            <table border="1">
                <tr height="60px">
                    <td colspan="4"> <p style="color:red"> {{alertMessage}} </p> <p style="color:greenyellow"> {{successMessage}} </p> </td>
                </tr>
                <tr>
                   <td>*姓名: <input type="text" v-model="name"></td>
                   <td>*電話: <input type="text" v-model="phone"></td>
                   <td>備註: <textarea type="text" v-model="remark" rows="1"></textarea></textarea></td>
                   <td>
                        &nbsp;
                        <button type="submit" @click="sendForm">建立</button> &nbsp; 
                        <button type="reset" @click="clearForm">清除</button>
                    </td>
               </tr>
           </table>
        </form> <br/>      
    </div>

    <div id="search">
        搜尋欄: <input><br><br>
    </div>

    <!-- 顯示資料庫所有users 引用users_list.js -->
    <div id="users">
        <table border="1">
            <tr>
                <td> <input type="checkbox" v-model="allselected" @click="selectAll"></td>
                <td> 編號 </td>
                <td> *姓名 </td>
                <td> *電話 </td>
                <td> 備註 </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr v-for="(user,index) in users">
                <td> <input type="checkbox" :value="user.id" v-model="selectid"> </td>
                <td> {{index+1}} </td>
                <td> <input :value="user.name" @change="changeName(user,$event)"> </td>
                <td> <input :value="user.phone" @change="changePhone(user,$event)"> </td>
                <td> <input :value="user.remark" @change="changeRemark(user,$event)"> </td>
                <td> <button type="button" :id="user.id" @click="deleteUser(user.id)">刪除</button> </td>
            </tr>
            <button type="button" @click="multidelete"> <i class="bi bi-trash"></i> </button>
            <!-- {{ selectid }} <br> -->
        </table> <br>        
    </div>
    
    <script src="js/createForm.js"></script>    
    <script src="js/users_list.js"></script>
    
</body>
</html>