<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>index</title>

    <!-- Bootstrap5 & Vue & Axios CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">
    <script src="https://unpkg.com/vue@3"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>

    <!-- 新增user表單 引用createForm.js -->
    <div id="Form">
        <div  style="height:50px">
            <p style="color:greenyellow"> {{ Create_Success_Message }} </p> 
            <p style="color:red"> {{ Create_Alert_Message }} </p> 
        </div>           
        <form>
            <table border="1">
                <tr>
                   <td>*姓名: <input type="text" v-model="Create_name"></td>
                   <td>*電話: <input type="text" v-model="Create_phone"></td>
                   <td>備註: <textarea type="text" v-model="Create_remark" rows="1"></textarea></textarea></td>
                   <td>
                        &nbsp;
                        <button type="button" @click="sendForm">建立</button> &nbsp; 
                        <button type="reset" @click="clearForm">清除</button>
                    </td>
               </tr>
           </table>
        </form> <br/>      
    </div>

    <!-- 顯示資料庫所有users 引用users_list.js -->
    <div id="users">

        <!-- 訊息提示列 -->
        <div  style="height:30px">
            <p style="color:greenyellow"> {{ Edit_Success_Message }} </p> 
            <p style="color:red"> {{ Edit_Alert_Message }} </p> 
        </div>

        <div style="width:665px">
            <!-- 全選刪除，垃圾桶按鈕 -->
            <button style="float:left" type="button" @click="multidelete">
                <i class="bi bi-trash"></i> 
            </button> 

            <!-- 搜尋列 -->
            <div style="float:right">
                搜尋欄: <input v-model="query" @keyup="fetchData()"><br><br>
            </div>
        </div> 
        
        <!-- 使用者列表 -->
        <table border="1" style="margin-top:35px;width:670px;">            
            <tr style="width:1200px;">
                <td> <input type="checkbox" v-model="allselected" @click="selectAll"></td>
                <td style="width:48px"> 編號 </td>
                <td style="width:179px"> *姓名 </td>
                <td style="width:179px"> *電話 </td>
                <td style="width:179px"> 備註 </td>
                <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
            </tr>
            <tr v-for="(user,index) in users">
                <td> <input type="checkbox" :value="user.id" v-model="selectid"> </td>
                <td> {{index+1}} </td>
                <td> <input :value="user.name" @change="changeName(user,$event)"> </td>
                <td> <input :value="user.phone" @change="changePhone(user,$event)"> </td>
                <td> <input :value="user.remark" @change="changeRemark(user,$event)"> </td>
                <td> <button type="button" :id="user.id" @click="deleteUser(user.id)">刪除</button> </td>
            </tr>
            <tr v-if="nodata">
                <td colspan="6" style="text-align:center;">沒有找到相符的資料</td>
            </tr>
            
            <!-- {{ selectid }} <br> -->
        </table> <br>        
    </div>  
    
    <script src="js/users_list.js"></script>
    <script src="js/createForm.js"></script>
    
</body>
</html>